<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forumlearning">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_forumleaning"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_forumleaning"
        android:supportsRtl="true"
        android:theme="@style/Theme.ForumLearning"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".MyComment"
            android:exported="true" />
        <activity
            android:name=".MyQuestion"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".CreateQuestionActivity"
            android:exported="true" />
        <activity
            android:name=".DetailQuestion"
            android:exported="true" />
        <activity
            android:name=".ProfileUpdate"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ForumLearning.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ForumLearning.NoActionBar" />
    </application>

</manifest>